@(editForm: Form[model.User])(implicit request: RequestHeader,messages : Messages)
@main(Messages("Edit User")) {


<form id="user-data-form" role="form" action='@routes.LandingPageController.confirmEditUser()' method="post" class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="user-fieldset">

        <div class="user-form">
            <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none"><h1>@messages("Edit User")</h1></label>
        </div>
        <br/>
        <table align="center" cellspacing="20">
        <tr>
               
                <td align="center">
                    <div class="bankProduct-form" id="login_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">                
								<input type="hidden" name="id" value="@editForm("id").value" placeholder="note" size = 120 height =30 required>      
             				</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="login_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("login")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="login_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <input type="text" name="login" value="@editForm("login").value" placeholder="login" required>
             				</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="password_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("password")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="left">
                    <div class="user-form" id="password_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
            				    <input type="text" name="password" value="@editForm("password").value" placeholder="Password" required>
           					     @editForm.error("password").map { formError =>
            				        <span class="form-error is-visible">@formError.message</span>
             					   }
                  		      </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="firstName_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("firstname")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="firstName_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" id="firstName" name="firstName" value="@editForm("firstName").value" placeholder="First Name" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="lastName_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("lastname")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="lastName_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" id="lastName" name="lastName" value="@editForm("lastName").value" placeholder="Last Name" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="mobile_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("mobile")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="mobile_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="tel" id="mobile" name="mobile" value="@editForm("mobile").value" placeholder="Mobile" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div class="user-form" id="email_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <strong>@messages("email")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="user-form" id="email_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="email" id="email" name="email" value="@editForm("email").value" placeholder="Email" class="form-control input-lg" required>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Edit</button>
        </div>

    </fieldset>
</form>



}
