@(logoutUrl: Call)(implicit flash: Flash)

@main("Welcome") {
    <h1>Welcome to Play!</h1>

    @* show the flash message (Option 1) *@
    @flash.get("info").getOrElse("")

    <div>
        <a href="@logoutUrl">logout</a>
    </div>

}

<div class="bank-display" >
    <fieldset>
        <legend align="center"><h3>Registered Notes</h3></legend>
           		<td><a href="@routes.BankController.listBanks">Create Topic</a></td>
            </tr>
            
        </table>
    </fieldset>
</div>

