@(bankProductForm: Form[dao.BankProductForm],  bankProducts : List[dao.Bank])(implicit request: RequestHeader,messages : Messages)
@main(Messages("Add Description")) {
@request.flash.get(messages("flash.success")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@msg</strong>
</div>
}
@request.flash.get(messages("flash.error")).map { msg =>
<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@msg</strong>
</div>
}

<fieldset class="bank-fieldset">

<td><a href="@routes.LandingPageController.showLandingPage">Go to main page</a></td>


<form id="bank-data-form" role="form" action='@routes.BankProductController.addBankProduct()' method="post" class="form-horizontal" align="center" autocomplete="off">

    <fieldset class="bank-fieldset">

<div class="user-form">
            <label class="form-title" style="color: #F8741B; font-size: 22px;font-weight: bold; text-decoration:none"><h3>@messages("Add Note")</h3></label>
        </div> 
   			  <tr>
                <td align="left">
                    <div class="bank-form" id="login_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-bankProduct"></span></span>
                                <strong>@messages("Title")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="bankProduct-form" id="login_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                            <select id="directors-select" name="bankId" >
							@for(bank <- bankProducts){
     				       <tr>
               				 <td>@bank.id</td>
            			    <td>@bank.name</td>
          				  </tr>       
  						  <option value="@bank.id">@bank.name</option>
							}
						
                                </select>
                                
             				</div>
                        </div>
                    </div>
                </td>
            </tr><br>
            <tr>
                <td align="left">
                    <div class="bank-form" id="login_field_label">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-bank"></span></span>
                                <strong>@messages("Note")</strong> :
                            </div>
                        </div>
                    </div>
                </td>
                <td align="center">
                    <div class="bank-form" id="login_field_value">
                        <div class="controls col-xs-offset-3 col-xs-9">
                            <div class="input-group">
                                <textarea type="text" name="name" value="@bankProductForm("name").value" placeholder="note" rows="10" cols="30" required> </textarea>
             				</div>
                        </div>
                    </div>
                </td>
            </tr>
          
            
            </tr>
        <br/>
        <div class="form-actions controls ynt-btn-xlarge">
            <button type="submit" class="btn btn-primary ynt-btn-orange">Add Note</button>
        </div>

    </fieldset>
</form>
</fieldset>



}