@(form: Form[model.Login], postUrl: Call
)(implicit request: MessagesRequestHeader)
 <html lang="en">
 <head>
 <title>Login page</title>
 <link rel="stylesheet"
 href="@routes.Assets.versioned("compiled/styles.css")">
 <link rel="shortcut icon" type="image/png"
 href="@routes.Assets.versioned("images/favicon.png")">
 </head>
<body id="user-login">
<form id="user-data-form" role="form" action='@routes.UserController.home()' method="get" class="form-horizontal" autocomplete="off">
    <fieldset class="user-fieldset">
    <button type="submit" class="button--sm">Register User</button>
    </fieldset>
 </form>

<fieldset class="user-fieldset">
<div id="content">

    <div id="user-login-form">

        <h1>User Login</h1>

        @request.flash.data.map{ case (name, value) =>
            <div>@name: @value</div>
        }

        @* Global errors are not tied to any particular form field *@
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
                <div>
                    Error: @error.key: @error.message
                </div>
            }
        }

        @helper.form(postUrl, 'id -> "user-login-form") {

    

        @helper.inputText(
            form("username"),
            '_label -> "Username",
            'placeholder -> "username",
            'id -> "username",
            'size -> 60
        )

        @helper.inputPassword(
            form("password"),
            '_label -> "Password",
            'placeholder -> "password",
            'id -> "password",
            'size -> 60
        )

        <button>Login</button>

        }

    </div>

</div>
</fieldset>
</body>
</html>